@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: rgb(141, 28, 247);
  text-decoration: none;
}

p{
  text-align: justify;
}

pre{
  font-family: Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;
  color:white;
  font-size: 1.25em;
  border: 1px solid #dddbcc;
  line-height: 1.5;
  width: 100%;
  height: 5em;
  padding: 1em;
  text-align: left;
  background: #2d2d2d;
}

* {
  box-sizing: border-box;
}
