.background{
  padding: 0;
  margin: 0;
  width: 100vw;
  background: var(--background-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.textContainer{
  line-height: 1.5rem;
  margin: 2em;
}

.container{
  width:50%;
  height:100%;
}

.title{
  text-align: center;
}

.code{
  background: var(--background-color-light);
  color: var(--text-color-light);
  font-weight: 600;
}