.selectContainer{
    color:black !important;
}

.navContainer{
    width:100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.ml_2{
    margin-left: 2em;
}

.logoName{
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
    text-align: center;
}

.font_medium{
    margin-top:1.25em;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
}

.containerImage{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imageResponsive{
    width: 450px;
    height:450px;
}

@media screen and (max-width: 600px) {
    
    .paragraphIntroduction{
        width: 100%;
    }

    .introduction{
        padding:1em;
    }

    .imageResponsive{
        width: 250px;
        height:250px;
    }

    .navContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ml_2{
        margin-left: 0 !important;
    }

}

